ul,li{
	list-style: none;
}
img{
	border: 0;
	display: block;
}
a{
	text-decoration: none;
}

.container{
	margin: 0 auto;
	min-width: 1200px;
	max-width: 1200px;
}
.clearfix:before{
	clear: both;
	display: block;
	content: '';
	height: 0;
	visibility: hidden;
	overflow: hidden
}
body,html,h1,h2,h3,h4,h5,h6,p,ul,li,span,strong,em,p{
	padding: 0;
	margin: 0;
}