@import 'common';
@import 'var';

#page{
	width: 100%;
	height: 100%;
	background-color: #cfcfcf;
}
.header{
	height: 100px;
	border-bottom: 1px solid $borderColor;
	overflow: hidden;
	.logo{
		height: 36px;
		margin-top: 30px;
		img{
			height: 100%;
		}
	}
}
.main{
	width: 100%;
	height: 520px;
	background: url('../img/PC_.jpg') no-repeat center center;
	.container{
		position: relative;
		.regArea{
			position: absolute;
			right: 0;
			top: 60px;
			background-color: #fff;
			width: 410px;
			
			.regArea_form{
				box-sizing: border-box;
				padding: 30px;
				padding-bottom: 15px;
				border-bottom: 1px solid $borderColor;
				width: 100%;
				.reg_head{
					width: 100%;
					line-height: 1;
					overflow: hidden;
					.reg_title{
						float: left;
						font-size: 18px;
					}
					a{
						float: right;
						font-size: 14px;
					}
					
				} 
				.reg_msg{
					margin: 15px 0;
					width: 100%;
					border: 1px solid #fc0;
					padding : 6px 0 6px 40px;
					line-height: 1.4;
					font-size: 14px;
					color: $highLight;
					box-sizing: border-box;
					background: url('../img/erroricon.png') no-repeat 10px center;
					display: none;
				}
				.reg_box{
					width: 100%;
					height: 40px;
					box-sizing: border-box;
					padding: 8px;
					border: 1px solid $borderColor;
					border-radius: 4px;
					margin: 15px 0;
					input{
						width: 100%;
						height: 100%;
						border: 0;
						border-radius: 4px;
					}
				}
				.auth_code{
					margin: 15px 0;
					height: 40px;
					
					overflow: hidden;
					.reg_in{
						float: left;
						height: 100%;
						box-sizing: border-box;
						width: 230px;
						padding: 8px;
						border: 1px solid $borderColor;
						border-radius: 4px;
						input{
							width: 100%;
							height: 100%;
							border: 0;
							border-radius: 4px;
						}
					}
					.reg_ch{
						float: right;
						width: 110px;
						height: 100%;
						box-sizing: border-box;
						border: 1px solid $borderColor;
						border-radius: 4px;
						.reg_ch_btn{
							display: block;
							width: 100%;
							height: 100%;
							cursor: pointer;
							border: 0;
							border-radius: 4px;
							font-size: 14px;
							color: $highLight;
							line-height: 40px;
							text-align: center;
						}
					}
				}
				.reg_box_btn{
					width: 100%;
					height: 40px;
					border: 0;
					.reg_btn{
						border: 0;
						background-color: $highLight;
						color: #fff;
						font-size: 18px;
						line-height: 40px;
						text-align: center;
						outline: none;
						display: block;
						width: 100%;
						height: 100%;
						cursor: pointer;
						border-radius: 4px;
					}
				}
				.reg_ot_msg{
					font-size: 14px;
					text-align: center;
					line-height: 1.4;
					margin-top:12px;
					a{
						color: $highLight;
					}
				}
			}
			.reg_by_other{
				width: 100%;
				height: 50px;
				
				span{
					display: inline-block;
					margin: 15px 30px;
					line-height: 1.4;
					font-size: 14px;
					vertical-align: top;
				}
				a{
					display: inline-block;
					margin-top: 12px;
					margin-right: 20px;
					width: 30px;
					height: 24px;
					&.weixin{
						background: url('../img/wechatIn.png') no-repeat center center;
					}
					&.weibo{
						background: url('../img/weiboIn.png') no-repeat center center;
					}
					&.qq{
						background: url('../img/qqIn.png') no-repeat center center;
					}
				}
			}
		}
	}
}
.footer{
	.footer_row_first{
		background-color: #f3f1f2;
		overflow: hidden;
		width: 100%;
		border-bottom: 1px solid $borderColor;
		ul{
			overflow: hidden;
			width: 100%;
			li{
				float: left;
				width: 25%;
				padding: 40px 0;
				text-align: center;
				img{
					display: inline-block;
				}
				p{
					margin: 4px 0;
				}
			}
		}
	}
	.footer_row_sec{
		border-bottom: 1px solid $borderColor;
		padding: 40px 0;
		overflow: hidden;
		width: 100%;
		.footer_r_s_left{
			float: left;
			width: 33%;
			height: 216px;
			text-align: center;
			&>img{
				display: inline-block;
			}
			p{
				font-size: 14px;
				font-weight: bold;
				margin: 8px 0;
			}
			.fo_ot{
				div{
					display: inline-block;
				}
			}

		}
		.footer_r_s_right{
			float: right;
			width: 67%;
			overflow: hidden;
			ul{
				overflow: hidden;
				float: left;
				width: 25%;
				box-sizing: border-box;
				border-left: 1px solid $borderColor;
				li{
					padding:7px 0;
					font-size: 14px;
					color: rgb(51, 51, 51);
					margin-left: 35px;
					&.fo_sec_title{
						font-size: 18px;
						font-weight: bold;
						margin-bottom: 10px;
					}
					a{
						color: #333;
						&:hover{
							color: $highLight;
						}
					}
				}

			}
		}
	}
	.footer_row_thr{
		width: 100%;
		padding: 15px 0;
		border-bottom: 1px solid $borderColor;
		text-align: center;
		font-size: 14px;
		line-height: 1.8;
		p{
			font-weight: bold;
		}
		span{
			display: inline-block;
			margin: 0 15px;
		}
	}
	.footer_row_for{
		width: 100%;
		padding: 5px 0;
		text-align: center;
		font-size: 12px;
		line-height: 2;
		span{
			margin: 0 15px;
			display: inline-block;
			color: #666;
			cursor: pointer;
		}
	}
}