@import 'var';
@import 'common';

.main{
	margin-top: 10px;
	.main_left{
		width: 200px;
		margin-right: 25px;
		float: left;
		font-size: 14px;
		.main_left_fir_ul{
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			.main_left_fir_li{
				border-top: 1px solid #ccc;
				&.li_last{
					border-bottom: 1px solid #ccc;
				}
				.ma_search_fir_title{
					box-sizing: border-box;
					height: 50px;
					padding: 15px 0 15px 20px;
					border-bottom: 1px solid #ccc;
					h3{
						float: left;
						font-size: 18px;
						line-height: 18px;
					}
					.ma_search_order{
						width: 20px;
						height: 20px;
						display: inline-block;
						float: right;
						cursor: pointer;
						margin-right: 10px;
						margin-top: 3px;
						font-weight: bold;
						color: #ff4490;
					}
				}
				.ma_sec_search{
					max-height: 395px;
					overflow-x: hidden;
					overflow-y: auto;
					margin: 0 0 10px 20px;
					-webkit-margin-start: 40px;
					li{
						margin: 10px 0;
						a{
							color: #333;
						}
					}
				}
			}
		}
	}
	.main_right{
		float: left;
		width: 80%;
		.main_right_total{
			height: 56px;
			border: 1px solid #ccc;
			.main_right_total_left{
				margin: 10px 0;
				line-height: 36px;
				float: left;
				.opt_1{
					display: inline-block;
					border-right: 1px solid #ccc;
					font-size: 14px;
					text-align: center;
					counter-reset: #333;
					cursor: pointer;
					width: 70px;
					position: relative;
					.opt_3_up{
						position: absolute;
						right: 4px;
						top: 4px;
						width: 0;
						height: 0;
						border: 6px solid transparent;
						border-bottom: 6px solid #ccc;
					}
					.opt_3_down{
						position: absolute;
						right: 4px;
						top: 19px;
						width: 0;
						height: 0;
						border: 6px solid transparent;
						border-top: 6px solid #ccc;
					}
				}				
			}
			.main_right_total_right{
				float: right;
				box-sizing: border-box;
				padding-top: 15px;
				.pagination_ul{
					overflow: hidden;
					margin-right: 10px;
					.pagination_li{
						float: left;
						width: 30px;
						height: 30px;
						font-size: 14px;
						line-height: 30px;
						text-align: center;
						&.pagination_last{
							width: 0;
							height: 0;
							border: 6px solid transparent;
							border-left: 6px solid #ccc;
							margin-top: 8px;
						}
					}
				}
			}
		}
	}
}